<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>APS</title>
</head>
<body>
    <h1>Welcome to Tris Inc</h1>
    <p>This is a simple Flask template example.</p>
    <h1>Pay with MTN</h1>
    <form action="/pay" method="post">
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required>
        <button type="submit">Pay</button>
    </form>
</body>
</html>
